@model List<PortalStore.Entity.Concrete.DTOs.Category.CategoryDto>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetListCategory</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<h2>Kategoriler</h2>
<body>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Kategori Adı</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td><a href="/Category/UpdateCategory/@item.Id" class="btn btn-primary">Güncelle</a></td>
                    <td><a href="/Category/DeleteCategory/@item.Id" class="btn btn-danger">Sil</a></td>*
                </tr>
            }
        </tbody>
    </table>

    <a href="/Category/AddCategory" class="btn btn-info">Yeni Kategori</a>
    <a href="/Home/Index" class="btn btn-danger">Anasayfa</a>
</body>
</html>
