@model PortalStore.Entity.Concrete.DTOs.Category.CategoryDto
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddSku</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<h1>Ürün ekleme sayfası</h1>
<body>
    <form class="form-control" method="post">
        <label>Ürün Adı</label>
        <input type="text" name="Name" class="form-control" />
        <label>Açıklama</label>
        <input type="text" name="Description" class="form-control" />
        <label>Eski Fiyat</label>
        <input type="text" name="OldPrice" class="form-control" />
        <label>Fiyat</label>
        <input type="text" name="Price" class="form-control" />
        <label>Kategori</label>
        <select class="form-control" name="CategoryId" asp-items="@ViewBag.data"><option></option></select>
        <br />
        <button class="btn btn-info">Ekle</button>
    </form>
    <br />
    
</body>
</html>
